.input {
  padding: 0.625rem 1.5rem;
  border-radius: 5px;
}

.primary {
  color: white;
  background-color: #196aff;
}

.neutral {
  color: #999999;
  background-color: #cccccc;
}

.small {
  font-size: 14px;
}

.medium {
  font-size: 16px;
}

.large {
  font-size: 18px;
}
