.button {
  padding: 1rem 2rem;
}

.primary {
  color: blue;
  border: blue;

  &:hover {
    background-color: rgb(13, 121, 157);
  }
}

.neutral {
  color: grey;
  border: grey;

  &:hover {
    background-color: lightgrey;
  }
}

.small {
  font-size: 14px;
}

.medium {
  font-size: 16px;
}

.large {
  font-size: 18px;
}
